{
  "compact": "false",
  "presets": [
    [
      "env",
      {
        "targets": {
          "node": "4.0"
        }
      }
    ]
  ],
  "env": {
    "test": {
      "plugins": [
        "istanbul"
      ]
    }
  }
}
